# Dependencies
node_modules/
audit
/scripts

# Environment Variables
.env
**/.env
.env.test
run_services.js
test_flow.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
test_apis.js
test-flow.js
